:root {
  --lunghezzalatopure: calc((100vmin / 100) * 70);
  --latoimg: calc((100vmin / 100) * 70 * 0.4);
  --scenelato: calc((100vmin / 100) * 70);
  --cubeheightmax: calc((100vmin / 100) * 70 - 4px);
  --cubeheightmin: calc((100vmin / 100) * 70 - 4px);
  --bodyheight: calc(100vh + 360px * 6 + 90px*6);
  --lunghezzalato: calc((100vmin / 100) * 70 - 4px);
  --lunghezzalatomezzi: calc((100vmin / 200) * 70);
  --scrollvaluehor: 0deg;
  --scrollvaluever: 0deg;
  --scrollvaluehorsecond: 0deg;
  --cube__face-background: rgba(0, 0, 0, 0.8);
  --cube__faceoverflow: hidden;
  --frontmarginbottom: 0px;
  --expansionbarvisibility: visible;
  --expansionbaropacity: 1;
  --expansionbarbottom: 0px;
  --expansionbarbackground: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.5));
  --expansionbarheight: 100px;
  --sceneperspective: 160vh;
  --sceneposition: fixed;
  --scenetranslate: translate(0%, 20%);
  --frontvisibility: visible;
  --rightvisibility: visible;
  --backvisibility: visible;
  --leftvisibility: visible;
  --topvisibility: visible;
  --bottomopacity: 1;
  --frontopacity: 1;
  --rightopacity: 1;
  --backopacity: 1;
  --leftopacity: 1;
  --topopacity: 1;
  --bottomopacity: 1;
  --linkcolor: coral;
}

[data-theme=face1expanded] {
  --lunghezzalatopure: calc((100vmin / 100) * 70);
  --latoimg: calc((100vmin / 100) * 70 * 0.4);
  --scenelato: calc((100vmin / 100) * 70);
  --cubeheightmin: calc((100vmin / 100) * 70 - 4px);
  --cubeheightmax: calc(100vmin*1.2);  /* default;*/
  --bodyheight: fit-content;
  --lunghezzalato: calc((100vmin / 100) * 70 - 4px);
  --lunghezzalatomezzi: calc((100vmin / 200) * 70);
  --scrollvaluehor: 0deg;
  --scrollvaluever: 0deg;
  --scrollvaluehorsecond: 0deg;
  --cube__face-background: rgba(0, 0, 0, 1);
  --cube__faceoverflow: visible;
  --frontmarginbottom: 150px;
  --expansionbarvisibility: hidden;
  --expansionbaropacity: 0;
  --expansionbarbottom: 0px;
  --expansionbarbackground: black;
  --expansionbarheight: 70px;
  --sceneperspective: 260vh;
  --sceneposition: static;
  --scenetranslate: translate(0%, 10%);
  --frontvisiblity: visible;
  --rightvisiblity: hidden;
  --backvisiblity: hidden;
  --leftvisiblity: hidden;
  --topvisiblity: hidden;
  --bottomvisiblity: hidden;
  --frontopacity: 1;
  --rightopacity: 0;
  --backopacity: 0;
  --leftopacity: 0;
  --topopacity: 0;
  --bottomopacity: 0;
  --linkcolor: coral;
}

body {
  font-family: sans-serif;
  color: white !important;
  margin: 0px;
  text-align: center;
  font-size: 0.7em;
  height: var(--bodyheight);
}

/* FACE 1 */

.transformexpansionspace{
  transition:
    min-height 0.5 1s;
}

.transformexpansion {
  transition:
    bottom 0.5s 0.5s,
    background-color 0.5s 0.5s;
}
.transformmovement {
  transition:
    perspective 0.5s 0.2s,
    height 0.5s 0.5s,
    transform 0.5s;
}

.transformcube{
  transition:
  background-color 1s ease,
  max-height 1s 0.5s;
}

.testo1elem1{
  height: auto;
}

.dividermaintext{
  display: table-cell;
  width: 1px;
  background-color: white;
  height: auto;
  padding-top: 20px;
}

.maintab{
  width: var(--lunghezzalato);
  height: fit-content;
  overflow: hidden;
}

.maintext{
  display: grid;
  text-align: center;
  padding-top: 20px;
  grid-template-columns: 0.5fr auto 0.5fr;
}

.slimtop{
  margin-top:0px;
}

.containertestoelem1{
  display: table-cell;
  width: calc(var(--lunghezzalato) / 2);
  text-align: justify !important;
}

#immagine {
    padding-top: 50px;
    width: 200px;
    height: 200px;
}

#immaginediv {
    text-align: center;
}

.testo1elem1 {
    padding-left: 50px;
    padding-right: 20px;
    vertical-align: middle;
}

.testo2elem1 {
    width: 300px;
    height: 823px;
    padding-left: 20px;
    padding-right: 50px;
}
.containertestoelem1 {
    display: table-cell;
    vertical-align: top;
    width: calc(var(--lunghezzalato)/2 - 1px);
}
.containertesto2elem1{
  padding-left: 20px;
  padding-right: 50px;
}
.maintabdivider {
    width: 100%;
    height: 0;
    padding-top: 45px;
    text-align: center;
}
.plusspace{
    height: 70px;
    width: 100%;
}
.expansioncontainer{
  height: var(--expansionbarheight);
}
.expansionbar{
  position: absolute;
  width: calc(var(--lunghezzalato));
  max-height: 100px;
  bottom: var(--expansionbarbottom);
  background: var(--expansionbarbackground);
  left: 0px;
  font-size: 1em !important;
  text-align: center;
  color: black;
  /*
  visibility: var(--expansionbarvisibility);
  opacity: var(--expansionbaropacity);*/

}
.expansionbar{
  position: absolute;
  width: calc(var(--lunghezzalato));
  max-height: 100px;
  bottom: var(--expansionbarbottom);
  background: var(--expansionbarbackground);
  left: 0px;
  font-size: 1em !important;
  text-align: center;
  color: black;
  /*
  visibility: var(--expansionbarvisibility);
  opacity: var(--expansionbaropacity);*/

}

.expansionbar2{
  position: relative;
  width: calc(var(--lunghezzalato));
  max-height: 100px;
  font-size: 1em !important;
  text-align: center;
  height: 70px;
}

.expansionspace{
  height: var(--expansionspaceheight);
}

.buttonexpanse {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;
  color: black;
  text-align: center;
  line-height: 47px;
  display: inline-block;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 1.4em;
  z-index: 5;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 16px);
}


/* Transizione elemento 1*/



input[type=button]:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}




/*FINE ELEMENTO 1 */
/* ELEMENTO 2 */


/* FINE ELEMENTO 2*/
/* ELEMENTO BOTTOM*/
/* ELEMENTO TOP */
.footerblock{
  display: grid;
  align-items: center;
}
.footerdiv{
  display: grid;
  height: var(--cubeheightmin);
  overflow:visible;
  align-items: center;
}
.calcagnotext{
  align-items: bottom;
}
/* FINE ELEMENTO TOP */
.bottomimagecontainer{
  position: relative;
  text-align: center;
}
.bottomimagediv{
  display: inline-block;
  max-width: var(--latoimg);
  height: auto;
  margin: 10px;
  border: 1px solid white;
}

/* FINE ELEMENTO BOTTOM */
a:visited {
    color: var(--linkcolor);
    background-color: transparent;
    text-decoration: none;
}

a:link {
    color: var(--linkcolor);
    background-color: transparent;
    text-decoration: none;
}

.testoblock{
  text-align: justify;
  padding: 5px 20px 10px 20px;
}

.titoloblock {
    padding: 20px 20px 0 20px;
}

.imagediv{
  text-align: center;
  display: inline-block;
  max-width: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.scene {
  width: var(--lunghezzalatopure);
  height: var(--scenelato);
  border: 1px solid #CCC;
  transform: var(--scenetranslate);
  perspective: var(--sceneperspective);
  position: var(--sceneposition);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.cube {
  width: var(--lunghezzalatopure);
  height: var(--lunghezzalatopure);
  position: fixed;
  transform-style: preserve-3d !important;
}

.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

.cube__face {
  position: absolute;
  width: var(--lunghezzalato);
  min-height: var(--cubeheightmin);
  max-height: var(--cubeheightmax);
  font-size: 0,6em;
  font-weight: bold;
  text-align: justify;
  background-color: white;
  overflow: var(--cube__faceoverflow);
  text-align: center;
}

.cube__faceclosed {

}

.cube__face--front  {
  background: var(--cube__face-background);
  visibility: var(--frontvisibility);
  opacity: var(--frontopacity);
  margin-bottom: var(--frontmarginbottom);
}

.cube__face--right  {
  background: var(--cube__face-background);
  visibility: var(--rightvisibility);
  opacity: var(--rightopacity);
}
.cube__face--back   {
  background: var(--cube__face-background);
  visibility: var(--backvisibility);
  opacity: var(--backopacity);
}
.cube__face--left   {
  background: var(--cube__face-background);
  visibility: var(--leftvisibility);
  opacity: var(--leftopacity);
}
.cube__face--top    {
  background: var(--cube__face-background);
  visibility: var(--topvisibility);
  opacity: var(--topopacity);

}
.cube__face--bottom {
  background: var(--cube__face-background);
  visibility: var(--bottomvisibility);
  opacity: var(--bottomopacity);
}

.cube__face--front  { transform: rotateX(calc(0deg + var(--scrollvaluever))) rotateY(calc(0deg + var(--scrollvaluehor))) rotateZ(var(--scrollvaluehorsecond)) translateZ(var(--lunghezzalatomezzi)); }
.cube__face--right  { transform: rotateX(calc(90deg + var(--scrollvaluever))) rotateY(calc(90deg)) rotateX(var(--scrollvaluehor)) rotateY(calc(var(--scrollvaluehorsecond))) translateZ(var(--lunghezzalatomezzi)); }
.cube__face--back   { transform: rotateX(calc(0deg + var(--scrollvaluever))) rotateY(calc(180deg + var(--scrollvaluehor))) rotateZ(calc(0deg - var(--scrollvaluehorsecond))) translateZ(var(--lunghezzalatomezzi)); }
.cube__face--left   { transform: rotateX(calc(0deg + var(--scrollvaluever))) rotateY(calc(-90deg + var(--scrollvaluehor))) rotateX(calc(var(--scrollvaluehorsecond))) translateZ(var(--lunghezzalatomezzi)); }
.cube__face--top    { transform: rotateY(calc(0deg + var(--scrollvaluehor) + var(--scrollvaluehorsecond))) rotateX(calc(90deg - var(--scrollvaluever))) translateZ(var(--lunghezzalatomezzi)); }
.cube__face--bottom { transform: rotateY(calc(180deg + var(--scrollvaluehor) + var(--scrollvaluehorsecond))) rotateX(calc(-90deg + var(--scrollvaluever))) translateZ(var(--lunghezzalatomezzi)); }

label { margin-right: 10px; }
